.title{
    margin: 20px;
    text-align: center;
}

.container{
    margin-bottom: 40px;
}

.cardLink{
    color: black;
    text-decoration: none;
}

.blogTitle, .blogDes{
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.blogTitle{
    -webkit-line-clamp: 2;
    text-transform: uppercase;
    height: 48px;
}

.blogDes{
    -webkit-line-clamp: 3;
    height: 72px;
}

.blogInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}