.container{
    background-image: url(https://delivery.kampong.vn/storage/images/469358939eb9bc7d8a9aeeaa47d970a9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px 40px 0px;
}